<mat-accordion class="filter-dialog">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Categories
      </mat-panel-title>
      <mat-icon>bookmark</mat-icon>
    </mat-expansion-panel-header>
    <mat-checkbox *ngFor="let category of categories" [checked]="categoriesSelected.indexOf(category.toLowerCase()) !== -1" (change)="selectCategory(category)">
      {{category}}
    </mat-checkbox>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Date Range
      </mat-panel-title>
      <mat-icon>date_range</mat-icon>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" placeholder="Select a start date">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker  #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [min]="minDate" [matDatepicker]="endPicker" [(ngModel)]="endDate" placeholder="Select an end date">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker  #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Location
      </mat-panel-title>
      <mat-icon>map</mat-icon>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Street Address" [(ngModel)]="street" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" [(ngModel)]="city" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput maxlength="5" placeholder="Zip Code" [(ngModel)]="zipcode">
      <mat-hint align="end">{{zipcode.length}} / 5</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Distance (mi)" [(ngModel)]="radius">
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button *ngIf="userFound" (click)="onSave()" id="saveButton" color="primary">Save</button>
<button mat-raised-button (click)="onApply()" id="applyButton" color="primary">Apply</button>
