<mat-toolbar color="primary">Your Favorite Events</mat-toolbar>
<mat-card class="example-card" *ngFor="let event of events$ | async" (click)="event.expanded=!event.expanded">
  <mat-card-header>
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-subtitle>{{event.street}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf = "!event.expanded">
    <p>
      {{event.content}}
    </p>
  </mat-card-content>
  <mat-card-content *ngIf="event.expanded">
    <p>{{event.content}} </p>
    <p>{{event.date}}</p>
    <p>{{event.time}}</p>
    <p>{{event.url}}</p>
    <p>{{event.contact}}</p>
    <p>{{event.phone}}</p>
    <p>{{event.email}}</p>
      
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="buttons" (click)="unfavoriteEvent(event)">Remove</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="(events$ | async)?.length==0">
  <mat-card-header>
    <mat-card-title>You have no favorited any events!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Keep on the lookout!
    </p>
  </mat-card-content>
  <mat-card-actions id="create-container">
    <span id="span-button"></span>
    <button mat-raised-button color="warn" id="close-button" (click)="close()">Close</button>
  </mat-card-actions>
</mat-card>