button {
    margin-right: auto;
}

mat-card-title {
    font-weight: 600;
}

.example-card {
    margin-right: auto;
    margin-left: auto;
}

#create-container {
    display: flex
}

#span-button {
    flex: 1 1 auto;
}

#create-button {
    flex : right;
}