.buttons {
    margin-right: auto;
}

mat-card-title {
    font-weight: 600;
}

.example-card {
    margin-right: auto;
    margin-left: auto;
}
.example-card:hover {
    background-color: rgb(241, 241, 241);
}

#create-container {
    display: flex
}

#span-button {
    flex: 1 1 auto;
}

#create-button {
    flex : right;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}
