<mat-toolbar color="primary">Your Events</mat-toolbar>
<mat-card class="example-card" *ngFor="let event of events$ | async" (click)="event.expanded=!event.expanded">
  <mat-card-header>
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-subtitle>{{event.street}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf = "!event.expanded">
    <p>
      {{event.content}}
    </p>
  </mat-card-content>
  <mat-card-content *ngIf="event.expanded">
    <p>{{event.content}} </p>
    <p>{{event.date_string}}</p>
    <p>{{event.time_string}}</p>
    <p>{{event.url}}</p>
    <p>{{event.contact}}</p>
    <p>{{event.phone}}</p>
    <p>{{event.email}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="buttons" (click)="editEventDialog(event)">Edit</button>
    <button mat-raised-button color="warn" class="buttons"
     (click)="deleteEvent(event.id, event.content, event.title, event.date, event.street)">Delete</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="(events$ | async)?.length==0">
  <mat-card-header>
    <mat-card-title>No Events Found</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Select "Create" to add a new event!
    </p>
    
  </mat-card-content>
  <mat-card-actions id="create-container">
    <span id="span-button"></span>
    <button mat-raised-button color="primary" id="create-button" (click)="openNewEventDialog()">Create</button>
  </mat-card-actions>
</mat-card>