<mat-dialog-content>
  <mat-toolbar color="primary">Create New Event</mat-toolbar>
  <!-- Event Name -->
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="title" required>
  </mat-form-field>
  <!-- Description -->
  <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="content" required></textarea>
    </mat-form-field>
  <!-- Event Date Picker -->
  <mat-form-field class="example-full-width">
    <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker"
           placeholder="Date" [(ngModel)]="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <!-- Event Time Picker -->
  <div class="container">
      <form class="demo-form">
        <w-mat-timepicker color="primary" [(userTime)]="time"></w-mat-timepicker>
      </form>
  </div>

   <!-- CheckboxTest -->
   <div class="container">
     <div>
       <input type="checkbox" id="checkbox-is-repeating" (change)="toggleIsRepeating($event)">
       <label for="checkbox-is-repeating">Repeat</label>
     </div>
     <div *ngIf="eventIsRepeating">          
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Choose an end date" [(ngModel)]="inputEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 [startAt]="repeatEndDate"></mat-datepicker>
          </mat-form-field>
      </div>
     <div *ngIf="eventIsRepeating">
        <div class="round-container">
            <div class="container">
                <div class="round">
                  <input type="checkbox" id="checkbox-weekly" (change)="toggleWeeklyRepeating($event)"/>
                  <label for="checkbox-weekly">Weekly</label>
                </div>
              </div>
        </div>
        <div class="round-container">
            <div class="container">
                <div class="round">
                  <input type="checkbox" id="checkbox-biweekly"(change)="toggleBiWeeklyRepeating($event)"/>
                  <label for="checkbox-biweekly">Bi-Weekly</label>
                </div>
              </div>
        </div>
        <div class="round-container">
            <div class="container">
                <div class="round">
                  <input type="checkbox" id="checkbox-monthly"(change)="toggleMonthlyRepeating($event)"/>
                  <label for="checkbox-monthly">Monthly</label>
                </div>
              </div>
        </div>
     </div>
     
        
        
   </div>

  <!-- Event Street Address -->
  <mat-form-field>
      <input matInput placeholder="Street Address" [(ngModel)]="street" required>
  </mat-form-field>
  <!-- Event City -->
  <mat-form-field>
      <input matInput placeholder="City" [(ngModel)]="city" required>
  </mat-form-field>
  <!-- Event State and Zip -->
  <div>
    <mat-input-container>
        <mat-select placeholder="State" [(ngModel)]="state" required>
          <mat-option *ngFor="let state of states" [value]="state.value">
            {{ state.viewValue }}
          </mat-option>
        </mat-select>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Zipcode" [(ngModel)]="zipcode" required>
      </mat-input-container>
  </div>
  <!-- Event Website URL -->
  <mat-form-field>
    <input matInput placeholder="Website URL" [(ngModel)]="url">
  </mat-form-field>
  <!-- Person of Contact -->
  <mat-form-field>
      <input matInput placeholder="Contact Name" [(ngModel)]="contactPerson" required>
  </mat-form-field>
  <!-- Event number, NOTE: QoL would be to auto fill the nonprofits number and email -->
  <mat-form-field>
      <input matInput placeholder="Contact Phone" [(ngModel)]="contactNumber" required>
  </mat-form-field>
  <!-- Event Email TODO: Add validation-->
  <mat-form-field>
    <input matInput placeholder="Contact Email" [(ngModel)]="contactEmail" required>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createEvent()"
            [disabled]= "!title || !content || !date || !street || !city || !state
                  || !zipcode || !contactPerson || !contactNumber || !contactEmail">
        Submit
  </button>
</mat-dialog-content>
