.mat-toolbar {
    /* background-color: rgba(242, 237, 92, 1); */
}

.over_map {
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 99;
}

.event_info {
    width: 70%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
}

a {
    color: black;
}

#titleContainer {
    text-align: center;
    width: 100%;
}

#title_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#menuContainer {
    width: 10%;
}

#filterContainer {
    width: 10%
}

#menuButton, #filterButton {
    /* background-color: rgba(242, 237, 92, 1); */
}

agm-map {
    height: 88vh;
}