.mat-toolbar {
    /* background-color: rgba(242, 237, 92, 1); */
}

a {
    color: black;
}

#titleContainer {
    text-align: center;
    width: 100%;
}

#title_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#menuContainer {
    width: 10%;
}

#filterContainer {
    width: 10%
}

#menuButton, #filterButton {
    /* background-color: rgba(242, 237, 92, 1); */
}

agm-map {
    height: 100vh;
}

.example-sidenav{
    width: 200px;
}
.example-card {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}
.example-card:hover {
    background-color: rgb(241, 241, 241);
}
