<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="user$ | async; let user; else anonymous">
  <!-- UI elements for when a volunteer or nonprofit is signed in. -->
  <mat-toolbar>
    <div id="menuContainer">
      <button id="menuButton" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div id="titleContainer">
      <span id="title_text">Volunteer Quest</span>
    </div>
    <div id="filterContainer">
      <button (click)="openFilterDialog()" id="filterButton" mat-icon-button>
        <mat-icon>tune</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-menu #appMenu="matMenu" id="over" overlapTrigger="true">
    <button *ngIf="user.roles.nonprofit" (click)="openPostEventDialog()" mat-menu-item>
      <mat-icon>event</mat-icon>Post an event
    </button>
    <button *ngIf="user.roles.nonprofit" (click)="openViewAllEventsDialog()" mat-menu-item>
        <mat-icon>event</mat-icon>Manage Events
      </button>
      <button *ngIf="user.roles.volunteer || user.roles.nonprofit" (click)="openChatView()" mat-menu-item>
        <mat-icon>chat</mat-icon>Chat Feature
      </button>
    <button *ngIf="user.roles.volunteer" mat-menu-item>
      <mat-icon>star</mat-icon>Favorites
    </button>
    <button mat-menu-item *ngIf="user.roles.nonprofit" (click)="openNonProfitAccountView()">
        <mat-icon>person</mat-icon>Account
    </button>
    <button mat-menu-item *ngIf="user.roles.volunteer" (click)="openVolunteerAccountView()">
        <mat-icon>person</mat-icon>Account
    </button>
    <button (click)="signOut()" mat-menu-item>
      <mat-icon>settings</mat-icon>Sign Out
    </button>
  </mat-menu>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <div class="wrapper">
    <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker *ngFor="let event of events$ | searchCategoryPipe : categories | searchTitlePipe : title_term | searchDatePipe : startDate : endDate | searchGeospatialPipe : lat_term : lng_term : radius_term | async, let i = index"
      (markerClick)="tmp=gm.lastOpen; gm.lastOpen=infoWindow; tmp?.close();"
      [iconUrl]="getEventIcon(event.category)"
      [latitude]="event.lat"
      [longitude]="event.lng">
        <agm-info-window #infoWindow>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{event.title}}</mat-card-title>
              <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{event.content}}</p>
              <p>Category: {{event.category}}</p>
              <p>{{event.street}}, {{event.city}}, GA</p>
            </mat-card-content>
            <mat-card-actions>
              <mat-icon color="primary">flag</mat-icon>
              <mat-icon color="primary">mail</mat-icon>
              <mat-icon color="primary">star_border</mat-icon>
            </mat-card-actions>
          </mat-card>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <div *ngIf="" class="over_map">
      <mat-card class="event_info">Simple card</mat-card>
    </div>
  </div>
</div>

<!-- UI elements for when a app user is not signed in.-->
<ng-template #anonymous>
  <mat-toolbar>
    <div id="menuContainer">
      <button id="menuButton" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div id="titleContainer">
      <span id="title_text">Volunteer Quest</span>
    </div>
    <div id="filterContainer">
      <button (click)="openFilterDialog()" id="filterButton" mat-icon-button>
        <mat-icon>tune</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-menu #appMenu="matMenu" id="over" overlapTrigger="true">
    <button (click)="openSignInDialog()" *ngIf="!(user$ | async)" mat-menu-item>
      <mat-icon>person</mat-icon>Sign In or Register
    </button>
  </mat-menu>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker *ngFor="let event of events$ | searchCategoryPipe : categories | searchTitlePipe : title_term | searchDatePipe : startDate : endDate | searchGeospatialPipe : lat_term : lng_term : radius_term | async, let i = index"
    [iconUrl]="getEventIcon(event.category)"
    (markerClick)="tmp=gm.lastOpen; gm.lastOpen=infoWindow; tmp?.close();"
    [latitude]="event.lat"
    [longitude]="event.lng">
      <agm-info-window #infoWindow>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{event.title}}</mat-card-title>
            <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{event.content}}</p>
            <p>Category: {{event.category}}</p>
            <p>{{event.street}}, {{event.city}}, GA</p>
          </mat-card-content>
          <mat-card-actions>
            <mat-icon color="primary">flag</mat-icon>
            <mat-icon color="primary">mail</mat-icon>
            <mat-icon color="primary">star_border</mat-icon>
          </mat-card-actions>
        </mat-card>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ng-template>
