<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <!-- <h1>Angular Router</h1>
  <nav>
    <a routerLink="/authview" routerLinkActive="active">AuthView</a>
    <a routerLink="/mapview" routerLinkActive="active">MapView</a>
    <a routerLink="editpostview" routerLinkActive="active">Edit Post</a>
  </nav> -->
  
  <router-outlet></router-outlet>
</div>
